
body {
	background: #FFECDD;
}

h1 {
	display: block;
	font-size: 40px;
	width: 27%;
	margin:0 auto;
}

body.loader {
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

body.loader .container{
  opacity: 0.5;
}

i {
	padding-left: 5px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#search {
	display: block;
	float: right;
	padding-top: .65em;
	padding-right: .5em;
}

#search input {
	height: 20px;
	width: 175px;
}
#search img {
	height: 20px;
	position: relative;
	top: 5px;
}

#dropdownBox.show {
	visibility: visible;
}

.dropdown {
	float: right;
	margin-top: 15px;
}

#dropdownBox {
	position: absolute;
	top: 50px;
	right: 20px;
	padding: 10px 20px;
	display: block;
	visibility: hidden;
	background: #E0E0E0;
	box-shadow: 5px 5px 5px grey;
}

#dropdownBox input {
	display: inline;
}

#dropdownBox button {
	margin-left: 25px;
	margin-top: 10px;
}

.container {
	margin: 1em auto;
	text-align: center;
}
.recipe {
	display: inline-block;
	margin: .5em;
	text-align: center;
	vertical-align: top;
	padding-bottom: 10px;
	width: 25%;
	border-radius: 25px;
	background: white;
	width: 25%;
}

.recipe h2 {
	text-align: center;
	font-size: 18px;
	padding-top: 5px;
}
.recipe img {
	display: block;
	margin: 0 auto;
	width: 60%;
}
.recipe a {
	display: block;
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.recipe a:hover {
	color: #B0B2B1;
}